<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="normal/base::Layout(~{::section})"> <!--th: replace has normal/-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>
<body>
    <section>
        <div class="conatainer">

            <div class="card mr-3 ml-3 mt-2" >
                <div class="card-body ">

                    
                    <div class="container text-center my-3">
                    <img style="height: 200px; width: 200px;" class="my_profile_pic" th:src="@{'/img/'+${user.imageUrl}}" alt="profile photo"/>
                    </div>

                    <h1 th:text="${user.name}" class="text-center"></h1>
 

                    <table class="table text-center">
                        <thead >
                          <tr>
                            <th scope="col">#USERID</th>
                            <th scope="col"><span th:text="${user.id}"></span></th>
                           
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Email</th>
                            <td><spam=n th:text="${user.email}"></spam></td>
                          
                          </tr>
                          <tr>
                            <th scope="row">Role</th>
                            <td><spam=n th:text="${user.role}"></spam></td>
                          
                          </tr>
                          <tr>
                            <th scope="row">Account active</th>
                            <td><spam=n th:text="${user.enabled}"></spam></td>
                          
                          </tr>
                          <tr>
                            <th scope="row">About</th>
                            <td><spam=n th:text="${user.about}"></spam></td>
                          
                          </tr>
                          
                         
                        </tbody>
                        
                      </table>

                </div>

            </div>

        </div>

    </section>
   
</body>
</html>